.principal {
    padding: 2em 0;
    text-align: center;
    font-weight: 200;
}

:root {
    --shawol: #88D8C0;
    --revel: #FFD1C3;
    --nct: #CCED1D;
    --ohlilac: #7c63df;
    --orangeme: #dd8717;
}

.welcome-text {
    font-size: 30px;
    font-weight: bold;
    margin: 4em auto;
}

.btn-login-container {
    display: block;
}

.btn-login {
    border-radius: 1.5em;
    display: block;
    font-size: 1.5em;
    height: 3em;
    margin: 2em auto;
    width: 20%;
}

.sombra {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(240, 229, 72, 1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(240, 229, 72, 1);
    box-shadow: 10px 10px 0px 0px rgba(240, 229, 72, 1);
    background-color: #7c63df;
    padding: 2rem;
    margin-bottom: 5rem;
}

.sombra:hover {
    background: #3d3071;
    color: white;
    font-weight: 700;
}

.contenido {
    display: grid;
    grid-template-rows: repeat(3, 300px);
    margin: 0 4em;
    min-height: 450px;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2em;
}